<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="logo">
  <a href="../HomePage/index.html" style="text-decoration: none; color: inherit; display: flex; gap: 10px; align-items: center;">
    <i class="fa-solid fa-utensils"></i>
    <span>Cooking with Us</span>
  </a>
</div>

<nav class="main-nav">
  <ul class="nav-list">
    <li><a href="../HomePage/index.html" class="nav-link">Trang chủ</a></li>
    <li><a href="#" class="nav-link">Công thức</a></li> <li><a href="#" class="nav-link">Cộng đồng</a></li>
    <li><a href="#" class="nav-link">Về chúng tôi</a></li>
  </ul>
</nav>

<div class="search-container">
  <i class="fa-solid fa-magnifying-glass search-icon"></i>
  <input type="text" placeholder="Tìm kiếm món ăn...">
</div>

<div class="user-actions">
  <a href="#" class="btn-submit-recipe">
    <i class="fa-solid fa-plus"></i> Đăng bài
  </a>

  <a href="../AuthPage/login.html" class="icon-btn"><i class="fa-regular fa-user"></i></a>
  <a href="#" class="icon-btn"><i class="fa-solid fa-bag-shopping"></i></a>
</div>

</body>
</html>